<?xml version="1.0"?>

<model>
  <name>SecurityConsole</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Anthony Som</name>
    <email>anthony.som@torontomu.ca</email>
  </author>

  <description>
    Security console with status LED and XLR-like connector block.
  </description>
</model>
